* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
background-color: #e7e7de;
}

.bubble {
  background: radial-gradient(
    99.23% 50% at 50% 50%,
    rgba(15, 48, 87, 0.75) 37.5%,
    #e7e7de 100%
  );
  border: 1px solid #9fb8d6;
}
.bub1 {
  animation: animate1 30s infinite linear;

}
@keyframes animate1 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(10rem, 20rem);
  }
  50% {
    transform: translate(30rem, 10rem);
  }
  75% {
    transform: translate(40rem, 20rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub2 {
  animation: animate2 30s infinite linear;

}
@keyframes animate2 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(40rem, 20rem);
  }
  50% {
    transform: translate(75rem, 10rem);
  }
  75% {
    transform: translate(35rem, 15rem);
  }
  100% {
    transform: translate(0rem);
  }
}
.bub3 {
  animation: animate3 30s infinite;
  
}
@keyframes animate3 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(37rem, -14rem);
  }
  50% {
    transform: translate(45rem, 11rem);
  }
  75% {
    transform: translate(58rem, 8rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub4 {
  animation: animate4 30s infinite;
 
}
@keyframes animate4 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(13rem, -17rem);
  }
  50% {
    transform: translate(27rem, 3rem);
  }
  75% {
    transform: translate(45rem, 4rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub5 {
  animation: animate5 30s infinite;

}
@keyframes animate5 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(45rem, -9rem);
  }
  50% {
    transform: translate(25rem, 13rem);
  }
  75% {
    transform: translate(36rem, -22rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub6 {
  animation: animate6 30s infinite;
 
}
@keyframes animate6 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(13rem, 9rem);
  }
  50% {
    transform: translate(41rem, 3rem);
  }
  75% {
    transform: translate(16rem, 6rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub7 {
  animation: animate7 30s infinite;

}
@keyframes animate7 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(-19rem, -24rem);
  }
  50% {
    transform: translate(17rem, 6rem);
  }
  75% {
    transform: translate(10rem, 5rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub8 {
  animation: animate8 30s infinite;

}
@keyframes animate8 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(1rem, -13rem);
  }
  50% {
    transform: translate(-40rem, -8rem);
  }
  75% {
    transform: translate(-18rem, 3rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub9 {
  animation: animate9 30s infinite;

}
@keyframes animate9 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(-25rem, -17rem);
  }
  50% {
    transform: translate(21rem, -30rem);
  }
  75% {
    transform: translate(-14rem, 4rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub10 {
  animation: animate10 30s infinite;
}
@keyframes animate10 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(-4rem, -21rem);
  }
  50% {
    transform: translate(21rem, 17rem);
  }
  75% {
    transform: translate(9rem, -30rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub11 {
  animation: animate11 30s infinite;

}
@keyframes animate11 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(10rem, 20rem);
  }
  50% {
    transform: translate(60rem, 10rem);
  }
  75% {
    transform: translate(60rem, 20rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub12 {
  animation: animate12 30s infinite;
  
}
@keyframes animate12 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(-10rem, 20rem);
  }
  50% {
    transform: translate(40rem, 10rem);
  }
  75% {
    transform: translate(-50rem, 20rem);
  }
  100% {
    transform: translate(0rem);
  }
}
.bub13 {
  animation: animate13 30s infinite;

}
@keyframes animate13 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(10rem, 13rem);
  }
  50% {
    transform: translate(40rem, 10rem);
  }
  75% {
    transform: translate(41rem, 2rem);
  }
  100% {
    transform: translate(0rem);
  }
}
.bub14 {
  animation: animate14 30s infinite;
}
@keyframes animate14 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(-7rem, -15rem);
  }
  50% {
    transform: translate(-12rem, -8rem);
  }
  75% {
    transform: translate(-13rem, -39rem);
  }
  100% {
    transform: translate(0rem);
  }
}
.bub15 {
  animation: animate15 30s infinite;
}
@keyframes animate15 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(-30rem, -15rem);
  }
  50% {
    transform: translate(7rem, 19rem);
  }
  75% {
    transform: translate(-39rem, 11rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub16 {
  animation: animate16 30s infinite;
}
@keyframes animate16 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(13rem, 34rem);
  }
  50% {
    transform: translate(-43rem, 10rem);
  }
  75% {
    transform: translate(10rem, 4rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.bub17 {
  animation: animate17 30s infinite;
}
@keyframes animate17 {
  0% {
    transform: translate(0rem);
  }
  25% {
    transform: translate(-9rem, 23rem);
  }
  50% {
    transform: translate(-23rem, 11rem);
  }
  75% {
    transform: translate(-11rem, -9rem);
  }
  100% {
    transform: translate(0rem);
  }
}

.name {
  animation: name  ease 2s 1 normal forwards;
  opacity: 0;
}

@keyframes name {
  0% {
      opacity: 0;
      transform: rotate(-540deg) scale(2);
  }

  100% {
      opacity: 1;
      transform: rotate(0) scale(1);
  }
}

   .profession {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: 2px solid #d7d0cb; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: 1px; /* Adjust as needed */
        animation: typing 3.5s steps(30, end),
            blink-caret 0.5s step-end infinite;
        visibility: hidden;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }

    @keyframes typing {
        from {
            visibility: hidden;
            width: 0;
        }
        to {
            visibility: visible;
            width: 18.5%;
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {
        from,
        to {
            border-color: transparent;
        }
        50% {
            border-color: #d7d0cb;
        }
    }

    /* @keyframes typing {
      0.0000%, 27.3488% { content: ""; }
      1.1395%, 26.2093% { content: "d"; }
      2.2791%, 25.0698% { content: "de"; }
      3.4186%, 23.9302% { content: "dev"; }
      4.5581%, 22.7907% { content: "deve"; }
      5.6977%, 21.6512% { content: "devel"; }
      6.8372%, 20.5116% { content: "develo"; }
      7.9767%, 19.3721% { content: "develop"; }
      9.1163%, 18.2326% { content: "develope"; }
      10.2558%, 17.0930% { content: "developer"; }
    
      30.7674%, 51.2791% { content: ""; }
      31.9070%, 50.1395% { content: "w"; }
      33.0465%, 49.0000% { content: "wr"; }
      34.1860%, 47.8605% { content: "wri"; }
      35.3256%, 46.7209% { content: "writ"; }
      36.4651%, 45.5814% { content: "write"; }
      37.6047%, 44.4419% { content: "writer"; }
    
      54.6977%, 75.2093% { content: ""; }
      55.8372%, 74.0698% { content: "r"; }
      56.9767%, 72.9302% { content: "re"; }
      58.1163%, 71.7907% { content: "rea"; }
      59.2558%, 70.6512% { content: "read"; }
      60.3953%, 69.5116% { content: "reade"; }
      61.5349%, 68.3721% { content: "reader"; }
    
      78.6279%, 96.8605% { content: ""; }
      79.7674%, 95.7209% { content: "h"; }
      80.9070%, 94.5814% { content: "hu"; }
      82.0465%, 93.4419% { content: "hum"; }
      83.1860%, 92.3023% { content: "huma"; }
      84.3256%, 91.1628% { content: "human"; }
    }
    
    @keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
    }
    
    .typewriter {
      --caret: currentcolor;
    }
    
    .typewriter::before {
      content: "";
      animation: typing 13.5s infinite;
    }
    
    .typewriter::after {
      content: "";
      border-right: 1px solid var(--caret);
      animation: blink 0.5s linear infinite;
    } */

    .box1{
      border: solid #e7e7de;
      border-width: 1px 2px 3px 3px;
      border-radius:15% 6% 82% 9%/7% 75% 3% 95%;
      transform: rotate(3deg);
    }
    .box1 {
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      -webkit-animation-name: flip;
      animation-name: flip;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes flip {
      0% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      }
      40% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      }
      50% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      }
      80% {
      -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
      transform: perspective(400px) scale3d(.95, .95, .95);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      }
      100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      }
      }
      @keyframes flip {
      0% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      }
      40% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      }
      50% {
      -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      }
      80% {
      -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
      transform: perspective(400px) scale3d(.95, .95, .95);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      }
      100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      }
      } 
    .box2{
      border: solid #e7e7de;
      border-width: 2px 2px 4px 2px;
      border-radius:95% 6% 92% 1%/4% 95% 6% 95%;
      transform: rotate(2deg);
    }
    .box3{
      border: solid #e7e7de;
      border-width: 1px 2px 1px 3px;
      border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
      transform: rotate(2deg);
    }
    .box4{
      border: solid #e7e7de;
      border-width: 3px 1px 2px 2px;
      border-radius:95% 14% 92% 11%/7% 95% 3% 95%;
      transform: rotate(2deg);
    }
    
    .one {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 8s infinite;
  }

  .two {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 12s infinite;
  }

  .three {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 9s infinite;
  }

  .four {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 12s infinite;
  }

  .five {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 7s infinite;
  }

  .six {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 11s infinite;
  }

  .seven {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 15s infinite;
  }

  .eight {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 10s infinite;
  }

  .nine {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 16s infinite;
  }

  .ten {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 12s infinite;
  }
  .eleven {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 12s infinite;
  }
  .twelve {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      box-shadow: 10px 15px 50px rgba(253, 253, 253, 0.2);
      animation: morphing 12s infinite;
  }

  @keyframes morphing {
      0% {
          border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
          box-shadow: 15px 15px 50px rgba(253, 250, 250, 0.2);
      }
      25% {
          border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
      }
      50% {
          border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
          box-shadow: -10px -5px 50px rgba(246, 244, 244, 0.2);
      }
      75% {
          border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
      }
  }
  .top {
      width: 100vw;
      display: flex;
      align-items: center;

      text-decoration: none;
  }
  .top:visited {
      text-decoration: none;
  }
  .top:hover {
      text-decoration: none;
  }

  .shadowGlasmorphic {
      box-shadow: 2px 3px 11px 10px rgba(240, 229, 229, 0.75);
      -webkit-box-shadow: 2px 3px 11px 10px rgba(240, 229, 229, 0.75);
      -moz-box-shadow: 2px 3px 11px 10px rgba(240, 229, 229, 0.75);
  }
